.head{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.01%;
    padding-bottom: 0.01%;
}

h1.head{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

p.head{
    padding-top: 0%;
    margin-top: 0%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainbody{
    background-color: white;
}

.menu{
    float:right;
    width:17%;
    /* background-color: white; */
    /* height : 40%; */
    padding-right: 1%;
    padding-top: 3%;
}


.menu li{
    text-align: left;
    border: 1px solid #d04631;
    background-color: #d04631;
    margin-right: 2%;
    margin-bottom: 5%;
    padding-top: 2.2%;
    padding-bottom: 2.2%;
    text-align: center;
    border-radius: 20px;
    border-color: #d04631;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
 }

.body{
    width:81%;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 0.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body a{
    color: #d04631;
}

.side{
    width:98%;
    background-color: rgb(252, 197, 195);
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
    margin-right: 10%;
    color: #bb3422;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bottom{
    color:white;
    text-align: center;
}
